<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Fonctionnalités principales</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
{% for feature in site.features %}
			<div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
			  		<!-- <i class="material-icons md-48 wow bounceIn text-primary">usb</i> -->
			  		{{ feature.image }}
                    <h3>{{ feature.title }}</h3>
                    <p class="text-muted">{{ feature.content | markdownify }}</p>
                </div>
            </div>
{% endfor %}
        </div>
    </div>
</section>
